/* Calculator Buttons */

.btn:hover{
    background-color: rgb(192, 119, 45);
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding: 10px;
    height: 75vh;
    min-height: 500px;
}

.btn {
    height: 80px;
    width: 80px;
    border-radius: 20px;
    background-color: #00000000;
    color: white;
    border: 2px #333 solid;
    font-size: large;
    font-weight: bolder;
    
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

/* Calculator Display */

.calculator {
    width: 400px;
    border: 3px solid black;
    padding: 20px;
    background-color: black;
    border-radius: 10px;
}

.screen {
    background-color: #eee;
    padding: 30px 20px;
    margin-bottom: 30px;
    border-radius: 20px;
    color: black;
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
}

.screen-current {
    min-height: 70px;
    font-size: 40px;
}